<ng-container >
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="col-sm-3">
        <label for="email" class="form-label">E-mail:</label>
        <input type="text" class="form-control" name="email"
               id="email" required ngModel>
      </div>
      <div class="col-sm-3">
        <label for="pass" class="form-label">Pass:</label>
        <input type="password" class="form-control" name="pass"
               id="pass" required ngModel>
      </div>
        <button type="submit" class="btn btn-primary"
                [disabled]="form.invalid">Login</button>
    </form>
    <button type="button" class="btn btn-warning"
            routerLink="/signup">Signup</button>
</ng-container>